@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.layout .container--main {
  margin-top: 100px;
}

@media (min-width: 768px) {
  .layout .container--main {
    margin-top: 120px;
  }
}

.nav {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100px;
  -webkit-box-shadow: 0px 7px 10px #e2e0df;
          box-shadow: 0px 7px 10px #e2e0df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
  z-index: 10;
}

@media (min-width: 768px) {
  .nav {
    height: 120px;
  }
}

.nav__brand-image {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .nav__brand-image {
    padding: 10px 10px 10px 10px;
  }
}

@media (min-width: 998px) {
  .nav__brand-image {
    padding: 10px 50px 10px 10px;
  }
}

@media (min-width: 1140px) {
  .nav__brand-image {
    padding: 10px 100px 10px 10px;
  }
}

.nav__brand-image img {
  height: 50px;
}

@media (min-width: 768px) {
  .nav__brand-image img {
    height: 60px;
  }
}

.nav__links {
  text-decoration: none;
  list-style: none;
  display: none;
}

@media (min-width: 768px) {
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 10px 10px 10px;
  }
}

@media (min-width: 998px) {
  .nav__links {
    padding: 10px 10px 10px 50px;
  }
}

@media (min-width: 1140px) {
  .nav__links {
    padding: 10px 10px 10px 100px;
  }
}

.nav__links .nav-item {
  padding: 10px 15px;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .nav__links .nav-item {
    margin: 0 0 0 10px;
  }
}

@media (min-width: 998px) {
  .nav__links .nav-item {
    margin: 0 0 0 15px;
  }
}

.nav__links .nav-item--active {
  background-color: #ffa046;
}

.nav__links .nav-item .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .nav__links .nav-item .nav-link {
    letter-spacing: 2px;
  }
}

@media (min-width: 998px) {
  .nav__links .nav-item .nav-link {
    letter-spacing: 3px;
  }
}

.nav__links .nav-item .nav-link--active {
  color: white;
}

.btn {
  border: none;
  outline: none;
}

.btn:hover {
  border: none;
  outline: none;
  background: white;
}

.btn:focus {
  border: none;
  outline: none;
  background: white;
}

.btn:active {
  border: none;
  outline: none;
  background: white;
}

.btn--carousel-direction {
  margin: 0px;
  padding: 0px;
  height: 20px;
  width: 20px;
}

.btn--carousel-direction img {
  height: 20px;
  width: 20px;
}

@media (min-width: 480px) {
  .btn--carousel-direction {
    height: 30px;
    width: 30px;
  }
  .btn--carousel-direction img {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 768px) {
  .btn--carousel-direction {
    height: 40px;
    width: 40px;
  }
  .btn--carousel-direction img {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 998px) {
  .btn--carousel-direction {
    height: 60px;
    width: 60px;
  }
  .btn--carousel-direction img {
    height: 60px;
    width: 60px;
  }
}

.section {
  background-color: #ebedf2;
}

.section--main {
  min-height: 1000px;
}

.footer {
  margin-top: -50px;
  width: 100%;
  height: 350px;
}

.footer--top {
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat, repeat;
  background-size: 100% 250px;
}

.footer--bottom {
  height: 100px;
  background-color: #00225c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
}
/*# sourceMappingURL=style.css.map */